<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oversikt</title>
</head>
<body>
    <h1>Oversikt over alle appliksjonene</h1>
    <ul>
        <li>Javascript introduksjon:</li>
        <ul>
            <li>Javascript 1</li>
            <ul>
                <li><a href="/javascript/1/oppgave1.html">Oppgave 1</a></li>
                <li><a href="/javascript/1/oppgave2.html">Oppgave 2</a></li>
                <li><a href="/javascript/1/oppgave3.html">Oppgave 3</a></li>
                <li><a href="/javascript/1/oppgave4.html">Oppgave 4</a></li>
                <li><a href="/javascript/1/oppgave5.html">Oppgave 5</a></li>
                <li><a href="/javascript/1/oppgave6.html">Oppgave 6</a></li>
                <li><a href="/javascript/1/oppgave7.html">Oppgave 7</a></li>
                <li><a href="/javascript/1/oppgave8.html">Oppgave 8</a></li>
                <li><a href="/javascript/1/oppgave9.html">Oppgave 9</a></li>
                <li><a href="/javascript/1/oppgave10.html">Oppgave 10</a></li>
            </ul>
            <li>Javascript 2</li>
            <ul>
                <li><a href="/javascript/2/oppgave1.html">Oppgave 1</a></li>
                <li><a href="/javascript/2/ekstra-oppgave1.html">Ekstra oppgave 1</a></li>
                <li><a href="/javascript/2/ekstra-oppgave2.html">Ekstra oppgave 2</a></li>
                <li><a href="/javascript/2/ekstra-oppgave3.html">Ekstra oppgave 3</a></li>
                <li><a href="/javascript/2/ekstra-oppgave4.html">Ekstra oppgave 4</a></li>
                <li><a href="/javascript/2/ekstra-oppgave5.html">Ekstra oppgave 5</a></li>
            </ul>
            <li>Javascript 3</li>
            <ul>
                <li><a href="/javascript/3/oppgave1.html">Oppgave 1</a></li>
                <li><a href="/javascript/3/oppgave2.html">Oppgave 2</a></li>
                <li><a href="/javascript/3/oppgave3.html">Oppgave 3</a></li>
                <li><a href="/javascript/3/oppgave4.html">Oppgave 4</a></li>
                <li><a href="/javascript/3/ekstraoppgave1.html">Ekstra oppgave 1</a></li>
                <li><a href="/javascript/3/ekstraoppgave2.html">Ekstra oppgave 2</a></li>
                <li><a href="/javascript/3/ekstraoppgave3.html">Ekstra oppgave 3</a></li>
            </ul>
        </ul>
        <li>Jquery:</li>
        <ul>
            <li><a href="/jquery/oppgave1.html">Oppgave 1</a></li>
            <li><a href="/jquery/oppgave2.html">Oppgave 2</a></li>
            <li><a href="/jquery/oppgave3.html">Oppgave 3</a></li>
            <li><a href="/jquery/oppgave4.html">Oppgave 4</a></li>
            <li><a href="/jquery/ekstraoppgave1.html">Ekstraoppgave 1</a></li>
            <li><a href="/jquery/ekstraoppgave2.html">Ekstraoppgave 2</a></li>
            <li><a href="/jquery/ekstraoppgave3.html">Ekstraoppgave 3</a></li>
        </ul>
        <li>Klient/Tjener:</li>
        <ul>
            <li><a href="/klientTjener/hentTemp.html">Hent temperatur</a></li>
            <li><a href="/klientTjener/beregnKurs.html">Beregn kurs</a></li>
            <li><a href="/klientTjener/valutaKalkulator.html">Valuta kalkulator</a></li>
        </ul>
        <li>Motorvogn:</li>
        <ul>
            <li><a href="/motorvogn/1/index.html">Motorvogn 1</a></li>
            <li><a href="/motorvogn/2/index.html">Motorvogn 2</a></li>
            <li><a href="/motorvogn/3/index.html">Motorvogn 3</a></li>
            <li><a href="/motorvogn/4/index.html">Motorvogn 4</a></li>
            <li><a href="/motorvogn/6/index.html">Motorvogn 6</a></li>
            <li><a href="/motorvogn/7/index.html">Motorvogn 7</a></li>
            <li><a href="/motorvogn/8/index.html">Motorvogn 8</a></li>
        </ul>
        <li>Rekursjon:</li>
        <ul>
            <li><a href="/rekursjon/faculty.html">Fakultet</a></li>
            <li><a href="/rekursjon/towerofhanoi.html">Hanoi's tårn</a></li>
        </ul>
    </ul>
</body>
</html>